<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.santotomas.stand_up_versionFinal">

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_index"
        android:supportsRtl="true"
        android:theme="@style/Theme.StandUp">
        <activity android:name="com.santotomas.stand_up_versionFinal.EnviarTiempoActivity" />
        <activity android:name="com.santotomas.stand_up_versionFinal.ConfigHoraActivity" />
        <activity android:name="com.santotomas.stand_up_versionFinal.NosotrosActivity" />
        <activity android:name="com.santotomas.stand_up_versionFinal.AlertEspecificaActivity" />
        <activity android:name="com.santotomas.stand_up_versionFinal.TipoAlertActivity" />
        <activity android:name="com.santotomas.stand_up_versionFinal.AlertRepetitivaActivity"/>
        <activity android:name="com.santotomas.stand_up_versionFinal.HomeActivity"/>
        <activity
            android:name="com.santotomas.stand_up_versionFinal.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>